:root {
	--1: #828860;
	--2: #f9deef;
	--3: #c83e7e;
	--4: #d2c5e1;
	--5: #fff;
	--6: #f4eee8;
	--7: #494949;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Forum", sans-serif;
    --third-family: "Roboto Condensed", sans-serif;
  }
  