.about-section{
    height: 73.8rem;
    background: url('../images/aboutbg.jpg');
    background-size: cover;
    padding-top: 18.3rem;
    @media (max-width: 962px){
        height: 26rem;
        padding-top: 6.3rem;
    }
    &__subtitle{
        font-family: var(--second-family);      
        font-size: 5.5rem;
        text-align: center;
        color: var(--5);
        margin-bottom: 5rem;
        @media (max-width: 962px){
            font-family: var(--second-family);
            font-size: 1.9rem;
            color: var(--5);
            margin-bottom: 1rem;
        }
    }
    &__logo{
        display: block;
        width: 66.8rem;
        height: 12.7rem;
        margin: 0 auto;
        margin-bottom: 5rem;
        @media (max-width: 962px){
            width: 26.6rem;
            height: 4.6rem;
            margin-bottom: 1.7rem;
        }
    }
    &__descr{
        font-family: var(--second-family);
        font-size: 3rem;
        text-align: center;
        color: var(--5);
        @media (max-width: 962px){
            font-size: 1.1rem;
        }
    }
}

.about-sctory{
    display: none;
}

.founder{
    position: relative;
    padding-top: 19rem;
    margin-bottom: 15rem;
    @media (max-width: 962px){
        padding-top: 13rem;
        margin-bottom: 3rem;
    }
    &__dec{
        position: absolute;
        top: 3rem;
        right: 0;
        z-index: -1;
        svg{
            width: 43.6rem;
            height: 57.7rem;
        }
    }
    &__bgv{
        position: absolute;
        top: 15rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5.4rem;
        width: 55.3rem;
        height: 10.7rem;
        border: 1px solid rgba(73, 73, 73, 0.25);
        background: var(--5);
        @media (max-width: 962px){
            border-radius: 2.8rem;
            width: 29rem;
            height: 5.6rem;
            top: 11rem;
        }
        &::before{
            content: '';
            position: absolute;
            left: -5rem;
            width: 120%;
            bottom: -3.5rem;
            height: 10rem;
            background:#fff;
            z-index: 777;
            @media (max-width: 962px){
                width: 103%;
                left: -0.3rem;
                bottom: -0.7rem;
                height: 3rem;
            }
        }
    }
    &__img{
        width: 29.9rem;
        height: 27.6rem;
        display: block;
        margin: auto;
        position: relative;
        margin-top: -11rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 25px 0 rgba(200, 44, 135, 0.25);
        @media (max-width: 962px){
            border-radius: 0.8rem;
            width: 15.7rem;
            height: 14.5rem;
        }
    }
    &__wrapper{
        background: #fff;
        border-radius: 1.5rem;
        border: 1px solid rgba(73, 73, 73, 0.25);
        padding-bottom: 4.3rem;
        @media (max-width: 962px){
            margin-top: 1rem;
            font-size: 2.1rem;
            padding: 0 3rem;
            padding-bottom: 2.5rem;
        }
    }
    &__title{
        font-family: var(--second-family);
        font-size: 5.5rem;
        text-align: center;
        color: var(--1);
        margin-bottom: 2rem;
        @media (max-width: 962px){
            margin-top: 1rem;
            font-size: 2.1rem;
        }
    }
    &__descr{
        font-weight: 400;
        font-size: 2.4rem;
        margin: auto;
        text-align: center;
        color: #000;
        max-width: 103.7rem;
        margin-bottom: 3rem;
        @media (max-width: 962px){
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }
    &__podp{
        font-size: 1.5rem;
        line-height: 167%;
        color: var(--7);
        text-align: center;
        @media (max-width: 962px){
            font-size: 0.8rem;
        }
        span{
            font-weight: 700;
        }
    }
}

.story{
    &__book-titlee{
        font-family: var(--second-family);
       font-size: 4.5rem;   
       color: var(--1);
       margin-bottom: 2.3rem;
    }
    &__book-content-about{
        p{
            font-size: 1.7rem;
            color: var(--7);
            margin-bottom: 2.5rem;
            max-width: 54.9rem;
        }
        .pink{
            color: var(--3);
        }
        .green{
            color: var(--1);
        }
    }
}

.values{
    position: relative;
    padding-top: 20rem;
    margin-bottom: 17.5rem;
    @media (max-width: 962px){
        margin-bottom: 2.5rem;
     }
    @media (max-width: 962px){
        padding-top: 3rem;
     }
    &__title{
        font-family: var(--second-family);
        font-size: 7.5rem;
        color: var(--1);
        right: 33.1rem;
        margin-left: 93.9rem;
        margin-bottom: 5.3rem;
        @media (max-width: 962px){
            margin-top: 0rem;
            margin-left: 29rem;
            font-size: 3.1rem;
         }
    }
    &__wrapper{
        display: flex;
        gap: 2.5rem;
        padding: 15.6rem 13.3rem 8.5rem;
        background: url('../images/values.jpg');
        background-size: cover;
        @media (max-width: 962px){
           padding: 7.8rem 0 4.2rem;
           overflow: auto;
           &::-webkit-scrollbar{
                display: none;
           }
        }
    }
    &__main{
        position: absolute;
        left: 33.1rem;
        top: 0rem;
        width: 48.7rem;  
        @media (max-width: 962px){
            left: 3rem;
            width: 23.7rem !important;
            padding: 2.3rem !important;
        }
        svg{
            width: 9rem !important;
            height: 9rem !important;
            @media (max-width: 962px){
                width: 4.2rem !important;
                height: 4.2rem !important;
            }
        }
        .values__item-btn{
            width: 100%;
            padding: 1.5rem;
            color: var(--5);
            margin-top: 2.5rem;
            display: block !important;
            border-radius: 1.5rem;
            background: var(--1);
            @media (max-width: 962px){
                padding: 0.7rem !important;
                border-radius: 0.7rem;
                font-size: 0.7rem;
            }
        }
        .values__item-text{
            font-size: 1.5rem !important;
            @media (max-width: 962px){
                font-size: 0.7rem !important;
            }
        }
    }
    &__item{
        width: 39.7rem; 
        border: 1px solid rgba(73, 73, 73, 0.25);
        border-radius: 1.5rem;
        background: var(--4);
        padding: 3rem;
        @media (max-width: 962px){
            min-width: 23.9rem;
            padding: 1.65rem 1.5rem 1rem;
        }
        svg{
          width: 5.3rem;
          height: 5.3rem; 
          margin-bottom: 1.3rem;
          @media (max-width: 962px){
           width: 3rem;
           height: 3rem;
         }
        }
        .values__item-btn{
            display: none;
        }
    }
    &__item-title{
        font-family: var(--second-family);
        font-size: 2.6rem;
        color: var(--1);
        margin-bottom: 1rem;
        @media (max-width: 962px){
           font-size: 1.3rem;
           white-space: nowrap;
        }
    }
    &__item-text{
        font-size: 1.1rem;
        line-height: 167%;
        color: var(--7);
        @media (max-width: 962px){
            font-size: 0.7rem;
         }
    }
}

.about-categories{
    position: relative;
    &__dec1{
        position: absolute;
        left: 0;
        top: -1rem;
        &.visible{
            svg path{
                stroke: var(--1) !important;
            }
        }
        svg{
            width: 37.2rem;
            height: 41rem;
        }
    }
    &__dec2{
        position: absolute;
        right: 0;
        top: -15rem;
        &.visible{
            svg path{
                stroke: var(--1) !important;
            }
        }
        svg{
            width: 37.2rem;
            height: 41rem;
        }
    }
    margin-bottom: 17rem;
    @media (max-width: 962px){
        margin-bottom: 4.5rem;
     }
    .categories{
        gap: 26.3rem;
        @media (max-width: 962px){
            gap: 2.5rem;
            flex-wrap: wrap;
         }
        &__item{
            &:nth-child(1){
                border-radius: 6.5rem 2.8rem 2.8rem 2.8rem;
            }
            &:nth-child(4){
                border-radius: 2.8rem 2.8rem 6.5rem 2.8rem;
            }
        }
        &__item{
            @media (max-width: 962px){
                width: 16.6rem;
                height: 13rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--4);
                border-radius: 2.8rem;
                svg{
                    height: 7.2rem;
                }
                svg path{
                    fill: #C83E7E !important;
                }
             }
             .categories__name{
                font-size: 1.3rem;
                text-align: center;
                color: var(--3);
             }
        }

        svg path{
            fill: var(--1);
        }
        &__name{
            color: var(--1);
        }
    }
}