.delivery{
    margin-bottom: 12rem;
    &__world{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 167%;
        color: var(--7);
        margin-bottom: 7rem;
        @media (max-width: 962px){
            margin-bottom: 1.5rem;
         }
    }
    &__block{
        position: relative;
    }
    img{
        width: 100%;
        height: 34.7rem;
        @media (max-width: 962px){
            height: 21.7rem;
        }
    }
    &__block{
        margin-bottom: 2.9rem;
        @media (max-width: 962px){
            width: 100%;
            img{
                display: none;
            }
         }
    }
    &__block-inner{
        position: absolute;
        top: 2.3rem;
        left: 8.2rem;
        display: flex;
        gap: 10rem;
        @media (max-width: 962px){
            margin-bottom: 1.5rem;
            left: 3rem;
            flex-direction: column;
            display: block;
            position: static;
         }
    }
    &__block-name{
        font-family: var(--second-family);
        font-size: 3.5rem;
        color: var(--1);
        margin-bottom: 3.5rem;
        @media (max-width: 962px){
            margin-bottom: 1.5rem;
            left: 3rem;
            font-size: 2.1rem;
            margin-bottom: 0.7rem;
            
         }
    }
    &__company{
        margin-bottom: 2rem;
        @media (max-width: 962px){
            max-width: 31.4rem;
         }
    }
    &__company-name{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 167%;
        color: var(--7);
        @media (max-width: 962px){
            font-size: 1.3rem;
         }
    }
    &__block-item{
        width: 62.7rem;
        img{
            display: none;
        }
        @media (max-width: 962px){
            width: 100%;
            padding: 1.5rem 3rem 1.5rem;
            position: relative;
            margin-bottom: 1.9rem;
            img{
                display: block;
                width: 100%;
                top: 0rem;
                left: 0rem;
                position: absolute;
                z-index: -1;
                height: 95%;
            }
         }
        &:nth-child(2){
            .deliver{
                margin: 0;
            }
        }
        p{
            font-size: 1.5rem;
            line-height: 167%;
            color: var(--7);
            @media (max-width: 962px){
                font-size: 1rem;
             }
            span{
                color: var(--3);
            }
        }
        .deliver{
            margin: 2.1rem 0 2.1rem;
            @media (max-width: 962px){
                margin: 1rem 0;
            }
        }
    }
}

.delivery-info{
    margin-bottom: 15.1rem;
    @media (max-width: 962px){
        margin-bottom: 5.5rem;
    }
    &__wrapper{
        display: flex;
        gap: 2.1rem;
        @media (max-width: 962px){
            flex-direction: column;
        }
    }
    &__note{
        max-width: 71rem;
    }
    &__note-title{
        font-family: var(--second-family);     
        font-size: 3.5rem;
        color: var(--1);
        margin-bottom: 3.5rem;
        @media (max-width: 962px){
            font-size: 2.1rem;
            margin-bottom: 1.5rem;
        }
    }
    &__note-inner{
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        @media (max-width: 962px){
            gap: 1rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 167%;
            color: #000;
            @media (max-width: 962px){
                font-size: 1rem;
            }
        }
    }
    &__pickup-title{
        font-family: var(--second-family);     
        font-size: 3.5rem;
        color: var(--1);
        margin-bottom: 3.5rem;
        @media (max-width: 962px){
            font-size: 2.1rem;
            margin-bottom: 1.5rem;
        }
    }
    &__adress{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 167%;
        color: #000;
        p{
            &:nth-child(1){
                margin-top: -0.3rem;
            }
            &:nth-child(2){
                margin-top: 2rem;
            }
            font-weight: 400;
            margin: 2rem 0;
            &.bold{
                font-weight: 700;
            }
        }
        a{
            color: #000;
            display: inline;
            font-weight: 700;
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }
    &__btn{
        font-size: 1.5rem;
        line-height: 167%;
        color: var(--5);
        border-radius: 1.5rem;
        margin-top: 3rem;
        padding: 2.1rem 9.9rem;
        background: var(--1);
        @media (max-width: 962px){
            font-size: 1rem;
            width: 17.3rem;
            padding: 1.05rem;
            border-radius: 0.7rem;
            margin-top: 1rem;
        }
    }
}

.payment{
    margin-bottom: 16rem;
    @media (max-width: 962px){
        margin-bottom: 7rem;
    }
    &__descr{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 167%;
        color: var(--7);
        margin-bottom: 3.9rem;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0rem 1.8rem;
        @media (max-width: 962px){
            display: flex;
            flex-direction: column;
        }
    }
    &__method{
        position: relative;
        width: 78.6rem;
        @media (max-width: 962px){
            width: 100%;
        }
       &:nth-child(1){
            height: 27.8rem;
            grid-area: 1 / 1 / 2 / 2;
            @media (max-width: 962px){
                height: auto;
                margin-bottom: 1.5rem;
            }
            img{
                width: 100%;
                height: 27.7rem;
                @media (max-width: 962px){
                    height: 13rem;
                }
            }
       }
       &:nth-child(2){
        grid-area: 2 / 1 / 3 / 2;
        @media (max-width: 962px){
            height: auto;
            margin-bottom: 1.5rem;
        }
        img{
            width: 100%;
            height: 34.9rem;
            @media (max-width: 962px){
                height: 25rem;
            }
        }
        .payment__content{
            top: 3.5rem;
        }
       }
       &:nth-child(3){
            grid-area: 1 / 2 / 3 / 3;
        img{
            width: 100%;
            height: 100%;
            @media (max-width: 962px){
                height: 35rem;
            }
        }
        }
    }
    &__content{
        position: absolute;
        top: 5.7rem;
        left: 9.6rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        max-width: 62.7rem;
        @media (max-width: 962px){
            top: 3.1rem;
            left: 3rem;
            max-width: 100%;
            gap: 0.7rem;
            max-width: 31.4rem;
        }
        p{
            font-size: 1.5rem;
            line-height: 167%;
            color: var(--7);
            @media (max-width: 962px){
                font-size: 0.9rem;
            }
            span{
                font-weight: 700;
            }
        }
    }
    &__content-title{
        font-size: 1.5rem;
        line-height: 167%;
        color: var(--7);
        span{
            font-weight: 700;
        }
    }
    &__btn{
        font-size: 1.5rem;
        line-height: 167%;
        color: var(--5);
        width: 34.5rem;
        border-radius: 1.5rem;
        padding: 2.1rem 9.9rem;
        background: var(--1);
        @media (max-width: 962px){
            font-size: 1rem;
            width: 17.3rem;
            padding: 1.05rem;
            border-radius: 0.7rem;
        }
    }
}