.order-page{
    margin-top: 15rem;
    @media (max-width: 962px){
        margin-top: 7rem;
    }
}
.order{
    &__wrapper{
        display: flex;
        gap: 2.1rem;
        @media (max-width: 962px){
            flex-direction: column;
        }
    }
    &__info{
        width: 33%;
        @media (max-width: 962px){
            width: 100%;
        }
    }
    &__info-title{
        font-family: var(--second-family);
        font-size: 3.5rem;
        color: var(--1);
        margin-bottom: 3.9rem;
        @media (max-width: 962px){
            font-size: 3rem;
            margin-bottom: 1.9rem;
        }
    }
    &__info-block{
        margin-bottom: 2.5rem;
    }
    &__info-list{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__info-item{
        padding: 1.9rem 2.4rem 1.9rem 3rem;
        border-radius: 1.5rem;
        background: var(--5);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        input{
            padding-bottom: 0.19rem;
            border-bottom: 0.1rem solid var(--1);
        }
    }
    &__info-label{
        font-size: 1.5rem;
        color: var(--7);
        padding-left: 1.5rem;
    }
    &__services{
        width: 33%;
        @media (max-width: 962px){
            width: 100%;
        }
    }
    &__services-title{
        font-family: var(--second-family);
        font-size: 3.5rem;
        color: var(--1);
        margin-bottom: 3.9rem;
        @media (max-width: 962px){
            font-size: 3rem;
            margin-bottom: 1.9rem;
        }
    }
    &__services-block{
        border-radius: 1.5rem;
        background: #fff;
        margin-bottom: 2.1rem;
    }
    &__services-top{
        font-size: 1.5rem;
        color: var(--5);
        width: 100%;
        text-align: center;
        padding: 2.3rem;
        border-radius: 1.5rem;
        background: var(--1);
    }
    &__services-item{
        padding: 1.9rem 5.6rem;
        display: flex;
        border-bottom: 1px solid var(--4);
        @media (max-width: 962px){
            padding: 1.9rem;
        }
        &:last-child{
            border: none;
        }
    }
    &__services-names{
        font-size: 1.5rem;
        color: var(--7);
        margin-right: 11.1rem;
        white-space: nowrap;
        @media (max-width: 962px){
            margin-right: auto;
        }
        p{
            font-size: 1rem;
            color: var(--1);
        } 
    }
    &__services-price{
        font-size: 1.5rem;
        color: var(--3);
        margin-right: 1.1rem;
    }
    &__services-checkbox{
        padding-top: 1.3rem;
        input{
            width: 1.8rem;
            height: 1.8rem;
            border: 0.1rem solid var(--1);
        }
    }
    .delivery-list{
        .order__services-item{
            justify-content: space-between;
        }
        .order__services-price{
            margin-right: 0;
        }
        .order__services-names{
            margin-right: 0;
        }
    }
    &__payment{
        width: 33%;
        padding-top: 7.5rem;
        @media (max-width: 962px){
            width: 100%;
            padding-top: 0;
        }
    }
    &__payment-top{
        font-size: 1.5rem;
        color: var(--1);
        width: 100%;
        text-align: center;
        padding: 2.3rem;
        border-radius: 1.5rem;
        background: var(--2);
        font-weight: 700;
    }
    &__payment-block{
        border-radius: 1.5rem;
        background: #fff;
        margin-bottom: 1.9rem;
    }
    &__payment-item{
        padding: 2.1rem 5.6rem;
        border-bottom: 1px solid var(--4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 962px){
            padding: 2.1rem;
        }
        .order__services-checkbox{
            padding-top: 0;
        }
        &:last-child{
            border: none;
        }
    }
    &__payment-name{
        font-size: 1.5rem;
        color: var(--7);
        margin-right: 11.1rem;
        white-space: nowrap;
        p{
            font-size: 1rem;
            color: var(--1);
        } 
    }
    &__payment-promo{
        width: 46.7rem;
        border-radius: 1.5rem;
        background: var(--5);
        padding: 1.9rem 2.4rem 1.9rem 3rem;
        margin-bottom: 2rem;
        @media (max-width: 962px){
            width: 100%;
        }
        .order__payment-promo-title{
            margin-bottom: 0.5rem;
        }
        input{
            border-bottom: 0.1rem solid var(--1);
            width: 100%;
        }
    }
    &__btn{
        width: 100%;
        padding: 3.3rem;
        font-size: 1.7rem;
        color: var(--5);
        border-radius: 1rem;
        background: var(--1);
        margin-bottom: 2.4rem;
        @media (max-width: 962px){
            padding: 2.1rem;
        }
    }
    &__policy{
        display: flex;
        align-items: center;
        gap: 2rem;
        input{
            width: 2.5rem;
            height: 2.5rem;
            border: 1.67px solid var(--7);
            border-radius: 0.5rem;
            padding-bottom: 0.3rem;
        }
        p{
            font-size: 1.5rem;
            color: var(--7);
            a{
                display: inline;
                text-decoration: underline;
                text-underline-offset: 0.3rem;
                text-decoration-skip-ink: none;
                color: var(--7);
            }
        }
    }
    &__itogs{
        display: flex;
        gap: 6.9rem;
        margin-bottom: 2.5rem;
        @media (max-width: 962px){
            margin-top: 5rem;
        }
        &.shipping{
            .order__free-shipping{
                display: none;
            }
        }
    }
    &__itogs-info{
        width: 100%;
        border-radius: 1.4rem;
        background: #fff;
    }
    &__itogs-info-top{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--1);
        width: 100%;
        padding: 2.3rem;
        text-align: center;
        border-radius: 1.5rem;
        background: var(--2);
    }
    &__itogs-info-content{
        display: flex;
        justify-content: center;
        gap: 7.1rem;
        padding: 2.4rem 6.7rem 2rem 6rem;
        @media (max-width: 962px){
            gap: 1rem;
            padding: 2.1rem;
        }
    }
    &__itogs-item-name{
        font-size: 1.5rem;
        color: var(--7);
        @media (max-width: 962px){
           font-size: 1rem;
           white-space: nowrap;
        }
    }
    &__itogs-item{
        p{
            font-size: 2.5rem;
            color: var(--7);
            @media (max-width: 962px){
                font-size: 1rem;
             }
            span{
                font-size: 1.5rem; 
                @media (max-width: 962px){
                    font-size: 1rem;
                 } 
            }
        }
    }
    &__free-shipping{
        border-radius: 1.4rem;
        width: 80rem;
        background: var(--5);
    }
    &__free-shipping-top{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--1);
        padding: 2.3rem;
        width: 100%;
        border-radius: 1.5rem;
        background: var(--2);
        text-align: center;
    }
    &__free-shipping-content{
        padding: 2.3rem 3.8rem;
        p{
            font-size: 1.5rem;
            color: var(--7); 
        }
    }
    &__free-shipping-range{
        display: flex;
        align-items: center;
        margin-bottom: 0.9rem;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 25%;
            height: 1rem;
            left: 0;
            top: 1rem;
            border-radius: 1.4rem;
            background: var(--3);
        }
    }
    .range-price{
        width: 27rem;
        height: 1rem;
        border-radius: 1.4rem;
        background: var(--6);
        margin-right: 1.3rem;
    }
    &__free-shipping-price{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--7);
        margin-right: 2.1rem;
    }
    &__free-question{
        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.product-order{
    margin-bottom: 5.5rem;
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem 1.3rem;
        @media (max-width: 962px){
            margin-top: 3rem;
        }
    }
    &__title{
        @media (max-width: 962px){
            margin-bottom: 0rem !important;
        }
    }
    .catalog__item{
        width: 22.5rem;
        @media (max-width: 962px){
           width: 17.5rem;
        }
    }
    .catalog__item-img{
        height: 16.8rem;
        background-color: #fff;
    }
    .catalog__item-cart{
        display: none;
    }
    .catalog__item-favorite{
        display: none;
    }
    .catalog__item-inner{
        width: 13rem;
    }
    .catalog__item-delete{
        svg{
            width: 1.1rem;
            height: 1.1rem;
        }
    }
}

.dont-forget-to-buy{
    margin-bottom: 17rem;
    @media (max-width: 962px){
        margin-bottom: 7rem;
    }
    &__wrapper{
        display: flex;
        gap: 2rem;
        @media (max-width: 962px){
            flex-wrap: wrap;
        }
    }
    .catalog__item-img{
        @media (max-width: 962px){
            width: 16.9rem;
            height: 12.6rem;
            background-color: #fff;
        }
    }
}

